<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Sky Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/bootstrap_2.3.1/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap/bootstrap_2.3.1/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/pointtracker.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

##
##    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
##    <!--[if lt IE 9]>
##      <script src="../assets/js/html5shiv.js"></script>
##    <![endif]-->




  </head>

  <body>
     <style>

        #columns {
            width: 960px;
        }

        #columns .column {
            position: relative;
            width: 46%;
            padding: 1%;
    ##        border: solid 1px #000;
        }

        #columns .left {
            float: left;
        }

        #columns .right {
            float: right;
        }

    </style>

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <!-- Begin page content -->
      <div class="container">
            <div>
                <img style="text-align: center"  src="/static/graphics/pointtracker_header.png" alt="airplane logo" height="220" width="1280">
            </div>
            <div class="navbar">
              <div class="navbar-inner">
                  <ul class="nav">
                      <li> <a href="/pointtracker">Home</a></li>
                      <li> <a href="/FAQ">FAQ</a></li>
                  </ul>
               </div>
            </div>

            <div style="text-align: center">
                <a href = "http://www.skyteam.com/en/About-us/Our-members/"><img src="/static/graphics/sky_team_large.png" alt="Sky Team logo" height="199" width="200"></a>
            </div>
            <br>
            <div style="text-align: center">
                <div id="columns">
                    <div class="left column">
                        <h4><b>Aeroflot</b></h4>
                        <h4><b>Aerolíneas Argentinas</b></h4>
                        <h4><b>Aeromexico</b></h4>
                        <h4><b>Air Europa</b></h4>
                        <h4><b>Air France</b></h4>
                        <h4><b>Alitalia</b></h4>
                        <h4><b>China Airlines</b></h4>
                        <h4><b>China Eastern</b></h4>
                        <h4><b>China Southern</b></h4>
                        <h4><b>Czech Airlines</b></h4>
                    </div>
                    <div class="right column">
                        <h4><b>Delta Air Lines</b></h4>
                        <h4><b>Kenya Airways</b></h4>
                        <h4><b>KLM</b></h4>
                        <h4><b>Korean Air</b></h4>
                        <h4><b>Middle East Airlines</b></h4>
                        <h4><b>Saudia</b></h4>
                        <h4><b>TAROM</b></h4>
                        <h4><b>Vietnam Airlines</b></h4>
                        <h4><b>Xiamen Air</b></h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>

        <div id="push"></div>
    </div>


    <footer class="footer">
      <div class="container" style="text-align: center">
        <p>Copyright 2013 PointTracker LLC</p>
      </div>
    </footer>




    <!-- Javascript Stuff
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

#### Javascript Libraries
  <script src="/static/jquery/jquery_1.9.1/jquery.js" type="text/javascript"></script>
  <script src="/static/bootstrap/bootstrap_2.3.1/js/bootstrap.js" type="text/javascript"></script>
  <script src="/static/js/index.js" type="text/javascript"></script>
## Javscript


  </body>
</html>
